{% extends "templates.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/abouts.css') }}">
    <script src="{{ url_for('static', filename='js/abouts.js') }}"></script>
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container py-5">
        <div class="row justify-content-md-center">
            <div class="col-md-8 col-sm-12 align-self-center">
                <div class="card">
                    <div class="card-header">
                        About this website
                    </div>
                    <div class="card-body">
                        <p class="card-text">製作網站主要目的是記錄有趣的想法、知識及實用的工具。為什麼要記錄？我想記錄這些想法讓一些也喜歡研究流派的人有不同的點子。(其實原因有很多，但我想主要是大家都是參考巴哈姆特或忍者互抄)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-8 col-sm-12 align-self-center">
                <div class="card">
                    <div class="card-header">
                        The reason why I do this site
                    </div>
                    <div class="card-body">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">分享自己的一些想法給有興趣的人看或玩，希望他們可以得到靈感。</li>
                            <li class="list-group-item">多數流派文章都是分享忍者，就只是把謄本複印給別人抄作業，我不是很喜歡。</li>
                          </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-8 col-sm-12 align-self-center">
                <div class="card">
                    <div class="card-header">
                        Contact me
                    </div>
                    <div class="card-body">
                        If there has any question, please don't hesitate to let me know. Thanks.
                        <p class="card-text"><i class="fa-solid fa-envelope"></i> Mail: izty.1212@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}